.boody{
    background-color: black;
}

.title{
    color: white;
}

.text{
    color: white;
}

.div2{
    background-color: #262A56;
    height: 75%;
    margin-top: 100px;
}

.div3{
    background-color: #B8621B;
}

.div4{
    background-color: #E3CCAE;
}

.divs{
    margin: 20px;
}